@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.navbar-expand{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #7AA817;
}

html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #25DD4D;
}
.nav-link:hover{
  color: #25DD4D !important;
}

.navbar-expand::backdrop{
  color: #FC3C72 !important;
}


button{
  background-color: #25DD4D !important;
  border: #FC3C72 !important;
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: center;
  padding: 80px;
}

.h5-1 {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.info {
  background-color: #486A00;
  border-radius: 25px;
}

.h2-cabecalho {
  display: grid;
  padding: 2rem 2rem 2rem 0rem;
  color: #ededed;
}
.h2-2{
  text-align: center;
  font-weight: 900;
}
.ha{
 justify-content: space-around;
}

.container {
  justify-content: center;
}

.c-item{
  height: 50px;
}

.c-img{
  object-fit: cover;
  max-height: 770px;
  max-width: 100%;
}

h1 {
  text-align: center;
}

.section {
  background-color: #7AA817;
  color: #000;
  height: 550px;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.section2 {
  color: #000;
  height: 550px;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}
.descubra {
  max-width: 700px;
  align-items: center;
  justify-content: center;
}

.taxas {
  align-items: center !important; 
  justify-content: center !important;
}

.home {
  margin-top: 50px;
}

.h1-home {
  font-weight: 900;
}

.p-home {
  text-align: center;
  font-weight: 600;
  margin-bottom: 85px;
}

.descubra-titulo{
  text-align: center;
  font-weight: 900;
}

.descubra-texto{
  text-align: center;
  font-weight: 600;
}

.card {
  align-items: center;
  justify-content: space-around;
  margin: 20px 20px 40px 20px;
  border-left: 0;
}

.card-group {
  margin-bottom: 30px;
}

.mb-3{
  padding: 1.5rem;
  margin: 10px;
}

.mb-4{
  background-color: #25DD4D !important;
  text-align: center;
  margin: 50px;
}